<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">CRUD Firebase</a>

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link bg-white" [routerLink]="['/list']">Listar</a>
      </li>
      <li class="nav-item bg-white">
        <a class="nav-link" [routerLink]="['/new']">Nuevo</a>
      </li>
      <li class="nav-item bg-white">
        <a class="nav-link" [routerLink]="['/edit']">Editar</a>
      </li>
   
    </ul>
        
  </div>
</nav>

