<br>

<table class="table">
    <thead>
        <tr class="table-dark">
            <th scope="col">Nickname</th>
            <th scope="col">Escuela</th>
            <th scope="col">Grupo</th>
            <th scope="col">Unidad</th>
            <th scope="col">ID_Profesor</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-white" *ngFor="let item of [0,1,2,3]">
            <th scope="row">Player2</th>
            <td>Josefa Ortiz</td>
            <td>3B</td>
            <td>4DCTarde</td>
            <td>3fcdt2das</td>
            <td class="btn-group d-none d-sm-block" role="group">
            <button type="button" class="btn btn-outline-warning m-1" (click)="onGoToEdit(item)">Editar</button>
            <button type="button" class="btn btn-outline-info m-1" (click)="onGoToSee(item)">Ver</button>
            <button type="button" class="btn btn-outline-danger m-1" (click)="onGoToDelete(item)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
