<div class="card mt-2">
    <div class="card-header">
        Detalles del jugador
    </div>
    <div class="card-body">
      <ul class="list-group">
          <li class="list-group-item">
              Usuario: <h5>SamuelPKM</h5>
          </li>
          <li class="list-group-item">
            Escuela: <h5>DICIS</h5>
        </li>
        <li class="list-group-item">
            Grupo: <h5>7B</h5>
        </li>
        <li class="list-group-item">
            Unidad: <h5>DFSSD</h5>
        </li>
        <li class="list-group-item">
            ID_Profesor: <h5>Horacio05</h5>
        </li>

      </ul>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-warning m-1 btn-sm ">Editar</button>      
        <button type="button" class="btn btn-outline-danger m-1 btn-sm" >Eliminar</button>
    </div>
</div>
<a name="" id="" class="btn btn-info" role="button">Regresar a la lista</a>